In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

S0601 - SELECTED CHARACTERISTICS OF THE TOTAL AND NATIVE POPULATIONS IN THE UNITED STATES

In [2]:
S0601d = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S0601_2021-01-12T121040/ACSST5Y2019.S0601_data_with_overlays_2021-01-12T121022.csv"), low_memory=False)
S0601m = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S0601_2021-01-12T121040/ACSST5Y2019.S0601_metadata_2021-01-12T121022.csv"))

In [3]:
print(f'Shape of data table proper is {S0601d.shape} \n'
    + f'Shape of metadata table is {S0601m.shape}')

Shape of data table proper is (5266, 426)
Shape of metadata table is (425, 2)

In [4]:
S0601d.head(2)

,GEO_ID,NAME,S0601_C01_001E,S0601_C01_001M,S0601_C01_002E,S0601_C01_002M,S0601_C01_003E,S0601_C01_003M,S0601_C01_004E,S0601_C01_004M,...,S0601_C04_049E,S0601_C04_049M,S0601_C04_050E,S0601_C04_050M,S0601_C04_051E,S0601_C04_051M,S0601_C04_052E,S0601_C04_052M,S0601_C04_053E,S0601_C04_053M
0,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 17 years,Margin of Error!!Total!!Total population!!AGE!!5 to 17 years,Estimate!!Total!!Total population!!AGE!!18 to 24 years,Margin of Error!!Total!!Total population!!AGE!!18 to 24 years,...,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!Below 100 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!Below 100 percent of the poverty level,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!100 to 149 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!100 to 149 percent of the poverty level,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!At or above 150 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!At or above 150 percent of the poverty level,Estimate!!Native; born outside U.S.!!PERCENT ALLOCATED!!Citizenship status,Margin of Error!!Native; born outside U.S.!!PERCENT ALLOCATED!!Citizenship status,Estimate!!Native; born outside U.S.!!PERCENT ALLOCATED!!Place of birth,Margin of Error!!Native; born outside U.S.!!PERCENT ALLOCATED!!Place of birth
1,1400000US48001950100,"Census Tract 9501, Anderson County, Texas",4844,524,7.2,2.4,18.4,3.7,4.2,2.2,...,71.4,44.0,0.0,74.0,28.6,44.0,(X),(X),(X),(X)

In [5]:
S0601m.head(2)

           GEO_ID                                 id
0            NAME               Geographic Area Name
1  S0601_C01_001E  Estimate!!Total!!Total population

In [6]:
# Custom function defined in ld_scripts.py in project folder to break apart GEO_ID column appropriately
S0601d = parse_geo_id(S0601d)

In [7]:
S0601d, S0601m = drop_and_normalize(S0601d, S0601m)

In [14]:
index_locations = [3, *(list(range(23,58,2))), *(list(range(69,99,2)))]
index_locations = [x-3 for x in index_locations]

In [15]:
S0601m.iloc[index_locations]

,GEO_ID,id
0,S0601_C01_001E,Estimate!!Total!!Total population
20,S0601_C01_011E,Estimate!!Total!!Total population!!SEX!!Male
22,S0601_C01_012E,Estimate!!Total!!Total population!!SEX!!Female
24,S0601_C01_013E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
26,S0601_C01_014E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
28,S0601_C01_015E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
30,S0601_C01_016E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
32,S0601_C01_017E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
34,S0601_C01_018E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
36,S0601_C01_019E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
38,S0601_C01_020E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
40,S0601_C01_021E,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino origin (of any race)
42,S0601_C01_022E,"Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino"
44,S0601_C01_023E,Estimate!!Total!!LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH!!Population 5 years and over
46,S0601_C01_024E,Estimate!!Total!!LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH!!Population 5 years and over!!Speak language other than English
48,S0601_C01_025E,"Estimate!!Total!!LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH!!Population 5 years and over!!Speak language other than English!!Speak English very well"""""
50,S0601_C01_026E,"Estimate!!Total!!LANGUAGE SPOKEN AT HOME AND ABILITY TO SPEAK ENGLISH!!Population 5 years and over!!Speak language other than English!!Speak English less than very well"""""
52,S0601_C01_027E,Estimate!!Total!!MARITAL STATUS!!Population 15 years and over
54,S0601_C01_028E,Estimate!!Total!!MARITAL STATUS!!Population 15 years and over!!Never married
66,S0601_C01_034E,Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)
68,S0601_C01_035E,Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college or associate's degree
70,S0601_C01_036E,Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
72,S0601_C01_037E,Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree
74,S0601_C01_038E,Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over
76,S0601_C01_039E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$1 to $9,999 or loss"
78,S0601_C01_040E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$10,000 to $14,999"
80,S0601_C01_041E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$15,000 to $24,999"
82,S0601_C01_042E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$25,000 to $34,999"
84,S0601_C01_043E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$35,000 to $49,999"
86,S0601_C01_044E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$50,000 to $64,999"
88,S0601_C01_045E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$65,000 to $74,999"
90,S0601_C01_046E,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$75,000 or more"
92,S0601_C01_047E,Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!Median income (dollars)
94,S0601_C01_048E,Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined

In [16]:
wc = create_wanted_columns(S0601d, S0601m, index_locations)

In [17]:
S0601d = S0601d[wc].copy()

In [18]:
S0601d.head()

,S0601_C01_001E,S0601_C01_011E,S0601_C01_012E,S0601_C01_013E,S0601_C01_014E,S0601_C01_015E,S0601_C01_016E,S0601_C01_017E,S0601_C01_018E,S0601_C01_019E,...,S0601_C01_043E,S0601_C01_044E,S0601_C01_045E,S0601_C01_046E,S0601_C01_047E,S0601_C01_048E,FIPS,STATEFP,COUNTYFP,TRACTCE
0,Estimate!!Total!!Total population,Estimate!!Total!!Total population!!SEX!!Male,Estimate!!Total!!Total population!!SEX!!Female,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander,Estimate!!Total!!Total population!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race,...,"Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$35,000 to $49,999","Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$50,000 to $64,999","Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$65,000 to $74,999","Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$75,000 or more",Estimate!!Total!!INDIVIDUALS' INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!Median income (dollars),Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined,_fips,_statefp,_countyfp,_tractce
1,4844,51.3,48.7,97.6,89.6,5.9,0.6,0.4,0.0,1.2,...,12.1,10.6,3.7,9.1,28542,4785,48001950100,48,001,950100
2,4838,96.3,3.7,99.1,59.4,39.1,0.3,0.0,0.0,0.4,...,1.9,1.6,0.1,0.0,20100,321,48001950401,48,001,950401
3,7511,98.9,1.1,99.8,58.6,40.8,0.2,0.1,0.1,0.0,...,1.2,0.2,0.0,0.1,16600,205,48001950402,48,001,950402
4,4465,50.9,49.1,96.3,66.8,22.7,0.6,0.0,0.0,6.3,...,13.4,3.4,1.0,3.1,21716,4394,48001950500,48,001,950500

In [19]:
meta_dict = dict(zip(S0601d.columns, S0601d.iloc[0,:]))

In [20]:
reform_dict(meta_dict)

In [21]:
dict_to_metadata(meta_dict, "S0601_metadata.csv")

Successfully created metadata table at data/processed_data/metadata/S0601_metadata.csv

In [22]:
S0601d.drop(index=0, axis=0, inplace=True)
S0601d.reset_index(drop=True, inplace=True)

In [23]:
pd_totals_path = 'data/processed_data/totals'
with open(os.path.join(pd_totals_path, 'S0601_totals.csv'), 'w', newline='') as outputfile:
    S0601d.to_csv(outputfile, header=True, index=False)