In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

In [2]:
S0801d = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S0801_2021-01-12T120320/ACSST5Y2019.S0801_data_with_overlays_2021-01-07T155553.csv"), low_memory=False)
S0801m = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S0801_2021-01-12T120320/ACSST5Y2019.S0801_metadata_2021-01-07T155553.csv"))

In [3]:
print(f'Shape of data table proper is {S0801d.shape} \n'
    + f'Shape of metadata table is {S0801m.shape}')

Shape of data table proper is (5266, 344)
Shape of metadata table is (343, 2)

In [4]:
S0801d.head(2)

,GEO_ID,NAME,S0801_C01_001E,S0801_C01_001M,S0801_C01_002E,S0801_C01_002M,S0801_C01_003E,S0801_C01_003M,S0801_C01_004E,S0801_C01_004M,...,S0801_C03_053E,S0801_C03_053M,S0801_C03_054E,S0801_C03_054M,S0801_C03_055E,S0801_C03_055M,S0801_C03_056E,S0801_C03_056M,S0801_C03_057E,S0801_C03_057M
0,id,Geographic Area Name,Estimate!!Total!!Workers 16 years and over,Margin of Error!!Total!!Workers 16 years and over,"Estimate!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van","Margin of Error!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van","Estimate!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van!!Drove alone","Margin of Error!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van!!Drove alone","Estimate!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van!!Carpooled","Margin of Error!!Total!!Workers 16 years and over!!MEANS OF TRANSPORTATION TO WORK!!Car, truck, or van!!Carpooled",...,Estimate!!Female!!PERCENT ALLOCATED!!Private vehicle occupancy,Margin of Error!!Female!!PERCENT ALLOCATED!!Private vehicle occupancy,Estimate!!Female!!PERCENT ALLOCATED!!Place of work,Margin of Error!!Female!!PERCENT ALLOCATED!!Place of work,Estimate!!Female!!PERCENT ALLOCATED!!Time of departure to go to work,Margin of Error!!Female!!PERCENT ALLOCATED!!Time of departure to go to work,Estimate!!Female!!PERCENT ALLOCATED!!Travel time to work,Margin of Error!!Female!!PERCENT ALLOCATED!!Travel time to work,Estimate!!Female!!PERCENT ALLOCATED!!Vehicles available,Margin of Error!!Female!!PERCENT ALLOCATED!!Vehicles available
1,1400000US48001950100,"Census Tract 9501, Anderson County, Texas",1785,293,92.3,3.6,84.0,5.4,8.2,4.3,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [5]:
S0801m.head(2)

           GEO_ID                                          id
0            NAME                        Geographic Area Name
1  S0801_C01_001E  Estimate!!Total!!Workers 16 years and over

In [7]:
# Custom function defined in ld_scripts.py in project folder to break apart GEO_ID column appropriately
S0801d = parse_geo_id(S0801d)

In [8]:
S0801d, S0801m = drop_and_normalize(S0801d, S0801m)

In [ ]:
index_locations = [3, *(list(range(23,58,2))), *(list(range(69,99,2)))]
index_locations = [x-3 for x in index_locations]