In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

## S1101 - Households and Families

In [4]:
data_dir = 'data/subject_tables/unzipped_files/ACSST5Y2019.S1101_2021-01-12T120419'

In [5]:
S1101d = pd.read_csv(os.path.join(data_dir, 'ACSST5Y2019.S1101_data_with_overlays_2021-01-12T120412.csv'), low_memory=False)
S1101m = pd.read_csv(os.path.join(data_dir, 'ACSST5Y2019.S1101_metadata_2021-01-12T120412.csv'))

In [7]:
print(f'Shape of data table proper is {S1101d.shape} \n'
    + f'Shape of metadata table is {S1101m.shape}')

Shape of data table proper is (5266, 182)
Shape of metadata table is (181, 2)

In [8]:
# Custom function defined in ld_scripts.py in project folder to break apart GEO_ID column appropriately
S1101d = parse_geo_id(S1101d)

In [9]:
S1101d, S1101m = drop_and_normalize(S1101d, S1101m)

In [10]:
index_locations = [*list(range(3,11,2)), *list(range(39,47,2))]
index_locations = [x-3 for x in index_locations]

In [12]:
S1101m.iloc[index_locations]

,GEO_ID,id
0,S1101_C01_001E,Estimate!!Total!!HOUSEHOLDS!!Total households
2,S1101_C01_002E,Estimate!!Total!!HOUSEHOLDS!!Average household size
4,S1101_C01_003E,Estimate!!Total!!FAMILIES!!Total families
6,S1101_C01_004E,Estimate!!Total!!FAMILIES!!Average family size
36,S1101_C02_001E,Estimate!!Married-couple family household!!HOUSEHOLDS!!Total households
38,S1101_C02_002E,Estimate!!Married-couple family household!!HOUSEHOLDS!!Average household size
40,S1101_C02_003E,Estimate!!Married-couple family household!!FAMILIES!!Total families
42,S1101_C02_004E,Estimate!!Married-couple family household!!FAMILIES!!Average family size

In [13]:
wc = create_wanted_columns(S1101d, S1101m, index_locations)

In [14]:
S1101d = S1101d[wc].copy()

In [15]:
meta_dict = dict(zip(S1101d.columns, S1101d.iloc[0,:]))

In [16]:
reform_dict(meta_dict)

In [17]:
dict_to_metadata(meta_dict, "S1101_metadata.csv")

Successfully created metadata table at data/processed_data/metadata/S1101_metadata.csv

In [18]:
S1101d.drop(index=0, axis=0, inplace=True)
S1101d.reset_index(drop=True, inplace=True)

In [20]:
pd_totals_path = 'data/processed_data/totals'
with open(os.path.join(pd_totals_path, 'S1101_totals.csv'), 'w', newline='') as outputfile:
    S1101d.to_csv(outputfile, header=True, index=False)