In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

## S1201 - Marital Status

In [2]:
subject_table_id = 'S1201'

In [3]:
d, m = get_subject_table_data(subject_table_id)

In [4]:
print(f'Shape of data table proper is {d.shape} \n'
    + f'Shape of metadata table is {m.shape}')

Shape of data table proper is (5266, 374)
Shape of metadata table is (373, 2)

In [5]:
# Custom function defined in ld_scripts.py in project folder to break apart GEO_ID column appropriately
d = parse_geo_id(d)

In [6]:
d, m = drop_and_normalize(d, m)

In [7]:
# This is just a manual picking of columns we want, pretty unavoidable.
index_locations = [3, *list(range(35,55,2)), 65, 127, 189, 251, 313]
index_locations = [x-3 for x in index_locations]

In [8]:
m.iloc[index_locations]

,GEO_ID,id
0,S1201_C01_001E,Estimate!!Total!!Population 15 years and over
32,S1201_C01_017E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
34,S1201_C01_018E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
36,S1201_C01_019E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
38,S1201_C01_020E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
40,S1201_C01_021E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
42,S1201_C01_022E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
44,S1201_C01_023E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
46,S1201_C01_024E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
48,S1201_C01_025E,Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino origin (of any race)
50,S1201_C01_026E,"Estimate!!Total!!Population 15 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino"
62,S1201_C02_001E,Estimate!!Now married (except separated)!!Population 15 years and over
124,S1201_C03_001E,Estimate!!Widowed!!Population 15 years and over
186,S1201_C04_001E,Estimate!!Divorced!!Population 15 years and over
248,S1201_C05_001E,Estimate!!Separated!!Population 15 years and over
310,S1201_C06_001E,Estimate!!Never married!!Population 15 years and over

In [9]:
wc = create_wanted_columns(d, m, index_locations)

In [10]:
d = d[wc].copy()

In [11]:
meta_dict = dict(zip(d.columns, d.iloc[0,:]))

In [12]:
reform_dict(meta_dict)

In [13]:
mname = subject_table_id + "_" + 'metadata.csv'
dict_to_metadata(meta_dict, mname)

Successfully created metadata table at data/processed_data/metadata/S1201_metadata.csv

In [14]:
dname = subject_table_id + "_" + 'totals.csv'
write_datafile(d, dname)