# S1601 - Language Spoken at Home

In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

### Only values that need specification are subject_table_id and index_location

The `subject_table_id` is just the census subject table code for the info you want.
The `index_location` are the row numbers of the metadata file that correspond to and specify what columns
we want to keep in main data file.

In [2]:
subject_table_id = 'S1601'
index_locations = [*list(range(3,11,2)), 17, 25, 33]

In [3]:
d, m = get_subject_table_data(subject_table_id)
print(f'Shape of data table proper is {d.shape} \n'
    + f'Shape of metadata table is {m.shape}')

Shape of data table proper is (5266, 290)
Shape of metadata table is (289, 2)

In [4]:
# Functions to break up geo_id into appropriate components and and then drop extraneous rows, columns as needed in data and metdata.
d = parse_geo_id(d)
d, m = drop_and_normalize(d, m)

In [5]:
# Adjusting indicies to account for drops and 0-index difference between csv and pandas.
index_locations = [x-3 for x in index_locations] 
m.iloc[index_locations]

,GEO_ID,id
0,S1601_C01_001E,Estimate!!Total!!Population 5 years and over
2,S1601_C01_002E,Estimate!!Total!!Population 5 years and over!!Speak only English
4,S1601_C01_003E,Estimate!!Total!!Population 5 years and over!!Speak a language other than English
6,S1601_C01_004E,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Spanish
14,S1601_C01_008E,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other Indo-European languages
22,S1601_C01_012E,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Asian and Pacific Island languages
30,S1601_C01_016E,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other languages

In [6]:
wc = create_wanted_columns(d, m, index_locations)
d = d[wc].copy()
meta_dict = dict(zip(d.columns, d.iloc[0,:]))
reform_dict(meta_dict)

In [7]:
mname = subject_table_id + "_" + 'metadata.csv'
dict_to_metadata(meta_dict, mname)

Successfully created metadata table at data/processed_data/metadata/S1601_metadata.csv

In [8]:
dname = subject_table_id + "_" + 'totals.csv'
write_datafile(d, dname)

Successfully created metadata table at data/processed_data/totals/S1601_totals.csv