# S1903 - Median Income Over Last 12 Months (inflation adjusted)

In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

### Only values that need specification are subject_table_id and index_location

The `subject_table_id` is just the census subject table code for the info you want.
The `index_location` are the row numbers of the metadata file that correspond to and specify what columns
we want to keep in main data file.

In [2]:
subject_table_id = 'S1903'
index_locations = [*list(range(3,83,2)), *list(range(163,243,2))]

In [3]:
d, m = get_subject_table_data(subject_table_id)
print(f'Shape of data table proper is {d.shape} \n'
    + f'Shape of metadata table is {m.shape}')

Shape of data table proper is (5266, 242)
Shape of metadata table is (241, 2)

In [4]:
# Functions to break up geo_id into appropriate components and and then drop extraneous rows, columns as needed in data and metdata.
d = parse_geo_id(d)
d, m = drop_and_normalize(d, m)

In [5]:
# Adjusting indicies to account for drops and 0-index difference between csv and pandas.
index_locations = [x-3 for x in index_locations] 
m.iloc[index_locations]

,GEO_ID,id
0,S1903_C01_001E,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
2,S1903_C01_002E,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White
4,S1903_C01_003E,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Black or African American
6,S1903_C01_004E,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!American Indian and Alaska Native
8,S1903_C01_005E,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Asian
...,...,...
230,S1903_C03_036E,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Living alone
232,S1903_C03_037E,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Not living alone
234,S1903_C03_038E,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder
236,S1903_C03_039E,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone
238,S1903_C03_040E,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone

In [6]:
wc = create_wanted_columns(d, m, index_locations)
d = d[wc].copy()
meta_dict = dict(zip(d.columns, d.iloc[0,:]))
reform_dict(meta_dict)

In [7]:
mname = subject_table_id + "_" + 'metadata.csv'
dict_to_metadata(meta_dict, mname)

Successfully created metadata table at data/processed_data/metadata/S1903_metadata.csv

In [8]:
dname = subject_table_id + "_" + 'totals.csv'
write_datafile(d, dname)

Successfully created metadata table at data/processed_data/totals/S1903_totals.csv