In [2]:
import os
import numpy as np
import pandas as pd
#import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

In [3]:
S2501d = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S2501_2021-01-12T120837/ACSST5Y2019.S2501_data_with_overlays_2021-01-12T120814.csv"), low_memory=False)
S2501m = pd.read_csv(os.path.join("data/subject_tables/unzipped_files/ACSST5Y2019.S2501_2021-01-12T120837/ACSST5Y2019.S2501_metadata_2021-01-12T120814.csv"))

In [4]:
print(f'Shape of data table proper is {S2501d.shape} \n'
    + f'Shape of metadata table is {S2501m.shape}')

Shape of data table proper is (5266, 458)
Shape of metadata table is (457, 2)

In [5]:
S2501d.head(2)

,GEO_ID,NAME,S2501_C01_001E,S2501_C01_001M,S2501_C01_002E,S2501_C01_002M,S2501_C01_003E,S2501_C01_003M,S2501_C01_004E,S2501_C01_004M,...,S2501_C06_034E,S2501_C06_034M,S2501_C06_035E,S2501_C06_035M,S2501_C06_036E,S2501_C06_036M,S2501_C06_037E,S2501_C06_037M,S2501_C06_038E,S2501_C06_038M
0,id,Geographic Area Name,Estimate!!Occupied housing units!!Occupied housing units,Margin of Error!!Occupied housing units!!Occupied housing units,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!1-person household,Margin of Error!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!1-person household,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!2-person household,Margin of Error!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!2-person household,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!3-person household,Margin of Error!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!3-person household,...,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!Under 6 years only,Margin of Error!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!Under 6 years only,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!Under 6 years and 6 to 17 years,Margin of Error!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!Under 6 years and 6 to 17 years,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!6 to 17 years only,Margin of Error!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!With own children of householder under 18 years!!6 to 17 years only,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!No own children of householder under 18 years,Margin of Error!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!With related children of householder under 18 years!!No own children of householder under 18 years,Estimate!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!No related children of householder under 18 years,Margin of Error!!Percent renter-occupied housing units!!Occupied housing units!!FAMILY TYPE AND PRESENCE OF OWN CHILDREN!!No related children of householder under 18 years
1,1400000US48001950100,"Census Tract 9501, Anderson County, Texas",1790,173,338,110,806,140,265,103,...,4.8,6.7,23.8,17.8,17.6,11.8,10.5,11.2,43.3,18.3

In [6]:
S2501m.head(2)

           GEO_ID                                                        id
0            NAME                                      Geographic Area Name
1  S2501_C01_001E  Estimate!!Occupied housing units!!Occupied housing units

In [7]:
# Custom function defined in ld_scripts.py in project folder to break apart GEO_ID column appropriately
S2501d = parse_geo_id(S2501d)

In [8]:
S2501d, S2501m = drop_and_normalize(S2501d, S2501m)

In [13]:
index_locations = [3, *(list(range(5,13,2)))]
index_locations = [x-3 for x in index_locations]

In [14]:
S2501m.iloc[index_locations]

,GEO_ID,id
0,S2501_C01_001E,Estimate!!Occupied housing units!!Occupied housing units
2,S2501_C01_002E,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!1-person household
4,S2501_C01_003E,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!2-person household
6,S2501_C01_004E,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!3-person household
8,S2501_C01_005E,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!4-or-more-person household

In [16]:
wc = create_wanted_columns(S2501d, S2501m, index_locations)

In [17]:
S2501d = S2501d[wc].copy()

In [18]:
S2501d.head()

,S2501_C01_001E,S2501_C01_002E,S2501_C01_003E,S2501_C01_004E,S2501_C01_005E,FIPS,STATEFP,COUNTYFP,TRACTCE
0,Estimate!!Occupied housing units!!Occupied housing units,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!1-person household,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!2-person household,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!3-person household,Estimate!!Occupied housing units!!Occupied housing units!!HOUSEHOLD SIZE!!4-or-more-person household,_fips,_statefp,_countyfp,_tractce
1,1790,338,806,265,381,48001950100,48,001,950100
2,95,23,37,0,35,48001950401,48,001,950401
3,112,24,33,51,4,48001950402,48,001,950402
4,1584,366,678,166,374,48001950500,48,001,950500

In [19]:
meta_dict = dict(zip(S2501d.columns, S2501d.iloc[0,:]))

In [20]:
reform_dict(meta_dict)

In [21]:
dict_to_metadata(meta_dict, "S2501_metadata.csv")

Successfully created metadata table at data/processed_data/metadata/S2501_metadata.csv

In [22]:
S2501d.drop(index=0, axis=0, inplace=True)
S2501d.reset_index(drop=True, inplace=True)

In [23]:
pd_totals_path = 'data/processed_data/totals'
with open(os.path.join(pd_totals_path, 'S2501_totals.csv'), 'w', newline='') as outputfile:
    S2501d.to_csv(outputfile, header=True, index=False)